h1{
	color: white;
	background-color: black;
	text-shadow: 3px 2px red;
	font-size: 90px;
	font-family: serif;
	font-style: italic;
	margin: 0
}
body{
	background-color: black;
	margin-left: 30px
}
div{
	color: white;
	text-align: justify;
	line-height: 1.5;
	font-family: courier new;

}
.container{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px
}
.tom {
	width: 100%;
	margin: 0 auto;
}
.col2 {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr
}